<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <span>{% include newsletter.html %}</span>
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul>
            <li><a href="https://www.facebook.com/oliver.lundquist.56">Facebook</a></li>
            <li><a href="https://twitter.com/olibalundo">Twitter</a></li>
            <li><a href="https://www.instagram.com/olibalundo/">Instagram</a></li>
            <li><a href="https://github.com/oliverlundquist">GitHub</a></li>
        </ul>
      </div>

    </div>

  </div>

</footer>
