---
---

// minima
$base-font-size: 18px;
$text-color: #525252;
@import "minima";

h1, p {
	line-height: $base-line-height * 1.33;
}

p {
	margin-bottom: $spacing-unit * 0.75;
}

// custom styles
.tldr {
	font-size: 13px;
	color: #aaa;
	line-height: 1.6;
}

pre, code {
	background-color: #f7f7f7;
	font-size: 14px;
}
