---
---

// minima
$base-font-size: 18px;
$text-color: #525252;
@import "minima";

h1, p {
	line-height: $base-line-height * 1.33;
}

p {
	margin-bottom: $spacing-unit * 0.75;
}

// custom styles
body {
	background-color: #fff;
}

.site-header {
	border-top: none;
	border-bottom: 5px solid #e8e8e8;
}

.tldr {
	font-size: 13px;
	color: #aaa;
	line-height: 1.6;
}

pre, code {
	background-color: #fff;
	font-size: 14px;
	border: 5px solid #e8e8e8;
}
